// Color Pallette
$primaryColor: #283e62;
$primaryLightColor: #6db1e8;
$secondaryColor: #ecd01b;
$secondaryDarkColor: #bf720d;
$tertiaryColor: #992915;
$quaternaryColor: #f0df99;
$white: #fff;
$grey: #888888;

// Background Heights
$viewportHalfHeight: calc((100vh - 100px) / 2);
